[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
pytest = "*"
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
flake8 = "*"
numpydoc = "*"
wheel = "*"
codecov = "*"
tox = "*"
tox-pyenv = "*"
jupyter = "*"
matplotlib = "*"
imblearn = "*"
shap = "*"

[packages]
werkzeug = "==2.1.2"
scikit-learn = ">=0.21.2"
numpy = ">=1.16.4"
scipy = ">=1.3.1"
pandas = ">=0.25.1"
loguru = "*"
gunicorn = "*"
flask = "*"
flask_restx = "*"
flask_wtf = "*"
supervisor = "*"
gevent = "*"
